version: '{build}'
platform: x64
configuration: Release
os: Visual Studio 2015

install:
    - set PATH=C:\msys64\usr\bin;%PATH%
    - bash -lc ""
    - bash -lc "pacman --noconfirm --needed -Sy bash pacman pacman-mirrors msys2-runtime msys2-runtime-devel"
    # we don't actually need ada, fortran, libgfortran, or objc, but in
    # order to update gcc we need to also update those packages as well...
    - bash -lc "pacman --noconfirm -S mingw-w64-x86_64-{gcc,gcc-ada,gcc-fortran,gcc-libgfortran,gcc-objc,cmake,make,icu,jemalloc}"
before_build:
    - cd C:\projects\meta
    - git submodule update --init --recursive
    - bash -lc "export PATH=/mingw64/bin:$PATH && cd $APPVEYOR_BUILD_FOLDER && mkdir build && cd build && cmake .. -G \"MSYS Makefiles\""
build_script:
    - bash -lc "export PATH=/mingw64/bin:$PATH && cd $APPVEYOR_BUILD_FOLDER/build && make"
test_script:
    - bash -lc "export PATH=/mingw64/bin:$PATH && cd $APPVEYOR_BUILD_FOLDER/build && cp ../config.toml . && ctest --output-on-failure"
