_site/
build/
build-*/
obj/
doc/
*.a
*.dat
.*.swp
*.o
*.class
.*
data/ceeaus
data/breast-cancer
data/housing
data/cranfield
data/Gov
data/MQ2007
data/MQ2008
data/OHSUMED
biicode.conf
bii/
bin/
cmake-build-debug/*

