[submodule "deps/cpptoml"]
	path = deps/cpptoml
	url = https://github.com/skystrife/cpptoml.git
	branch = master
[submodule "deps/porter2_stemmer"]
	path = deps/porter2_stemmer
	url = git@bitbucket.org:smassung/porter2_stemmer
	branch = meta
